# Core ML/Data stack
numpy>=2.1.0rc0
pandas>=2.3.0rc0
scikit-learn>=1.5.0rc0

# Visualization
matplotlib>=3.9.0rc0
seaborn>=0.13.2

# API and Web
flask>=3.0.3
flask-cors>=4.0.0

# Jupyter / Dev
jupyter>=1.0.0
notebook>=7.2.0

# Other utilities
requests>=2.32.3
